<div class="dashboard-container">
  <!-- Barre latérale -->
  <nav class="sidebar">
    <div class="sidebar-header">
      <h2>EliteAuto</h2>
    </div>
    <ul>
      <li>
        <a [routerLink]="['/publier-annonce']" routerLinkActive="active">
          <i class="fas fa-car"></i> Publier une annonce
        </a>
      </li>
      <li>

      <li>
        <a [routerLink]="['/liste-pub']" routerLinkActive="active">
          <i class="fas fa-tags"></i> Consulter les publications des clients
        </a>
      </li>
      <li>
        <a [routerLink]="['/reservations-proprietaire']" routerLinkActive="active">
          <i class="fas fa-calendar-alt"></i> Consulter les réservations de mes voitures
        </a>
      </li>
      <li>
        <a [routerLink]="['/AvisEtRepProp']" routerLinkActive="active">
          <i class="fas fa-comment-dots"></i> Consulter les réponses à mes avis
        </a>
      </li>
      <li>
        <a [routerLink]="['/avisP']" routerLinkActive="active">
          <i class="fas fa-comments"></i> Consulter les avis faite sur moi
        </a>
      </li>
      <li>
        <a [routerLink]="['/assistanceP']" routerLinkActive="active">
          <i class="fas fa-life-ring"></i> Service d'assistance
        </a>
      </li>
      <li>
        <a [routerLink]="['/accueil']" routerLinkActive="active">
          <i class="fas fa-sign-out-alt"></i> Déconnexion
        </a>
      </li>
    </ul>
  </nav>

  <div class="dashboard-content">
    <header class="dashboard-header">
      <h1 class="dashboard-title">Les réponses sur vos avis</h1>
    </header>
  <div *ngIf="avisList.length > 0; else noAvis">
    <div *ngFor="let avis of avisList" class="avis-item">
      <p><strong>Commentaire :</strong> {{ avis.contenu }}</p>
        <p><strong>Note :</strong>
          <ng-container *ngFor="let star of getStars(avis.note); let i = index">
            <i class="fas" [ngClass]="{
              'fa-star': star === 1,
              'fa-star-half-alt': star === 0.5,
              'fa-star-half': star === 0
            }"></i>
          </ng-container>
        </p>
        <button (click)="voirReponses(avis.contenu, 1)">Voir réponses</button>
    </div>
  </div>

  <ng-template #noAvis>
    <p>Aucun avis disponible pour ce propriétaire.</p>
  </ng-template>

  <div class="modale"  *ngIf="selectedAvis">
    <h3>Réponses pour l'avis :</h3><p>{{ selectedAvis }}</p>
    <ul>
      <li *ngFor="let reponse of selectedReponses">
        <p>{{ reponse.commentaire }}</p>
        <small>Client : {{ reponse.nom|| 'Nom inconnu' }}</small>
      </li>
    </ul>
    <button (click)="fermerReponses()">Fermer</button>

  </div>
  <div class="overlay" *ngIf="selectedAvis" (click)="fermerReponses()"></div>
</div>
