<div class="dashboard-container">
  <!-- Barre latérale -->
  <nav class="sidebar">
    <div class="sidebar-header">

      <h2>EliteAuto</h2>
    </div>
    <ul>
      <li>
        <a [routerLink]="['/publier-annonce-client']" routerLinkActive="active">
          <i class="fas fa-car"></i> Publier une annonce
        </a>
      </li>

      <li>
        <a [routerLink]="['/offres']" routerLinkActive="active">
          <i class="fas fa-tags"></i> Consulter les offres
        </a>
      </li>
      <li>
        <a [routerLink]="['/reservationC']" routerLinkActive="active">
          <i class="fas fa-calendar-alt"></i> Mes réservations
        </a>

      </li>
      <li>
        <a [routerLink]="['/AvisEtRepClient']" routerLinkActive="active">
          <i class="fas fa-comment-dots"></i> consulter les réponses à mes avis
        </a>

      </li>

      <li>
        <a [routerLink]="['/avisC']" routerLinkActive="active">
          <i class="fas fa-comments"></i> consulter les avis faite sur moi
        </a>

      </li>
      <li>
        <a [routerLink]="['/assistanceC']" routerLinkActive="active">
          <i class="fas fa-life-ring"></i> Service d'assistance
        </a>

      </li>
      <li>
          <a [routerLink]="['/accueil']" routerLinkActive="active">
            <i class="fas fa-sign-out-alt"></i> Déconnexion
          </a>

        </li>
    </ul>
  </nav>

    <!-- Contenu principal -->
    <div class="dashboard-content">
      <header class="dashboard-header">
        <h1 class="dashboard-title">Avis faîtes sur vous </h1>
      </header>

      <div class="avis-container">
        <div *ngIf="avisList.length === 0">Aucun avis trouvé pour vous.</div>



        <div *ngFor="let avis of avisList" class="avis-card">
            <p><strong>Contenu :</strong> {{ avis.contenu }}</p>

            <!-- Affichage des étoiles -->
            <p><strong>Note :</strong>
              <ng-container *ngFor="let star of getStars(avis.note); let i = index">
                <i class="fas" [ngClass]="{
                  'fa-star': star === 1,
                  'fa-star-half-alt': star === 0.5,
                  'fa-star-half': star === 0
                }"></i>
              </ng-container>
            </p>

            <!-- Bouton "Répondre" -->
            <button (click)="toggleCommentForm(avis)">Répondre</button>

            <div *ngIf="avis.showCommentForm">
              <textarea [(ngModel)]="avis.commentaire" placeholder="Votre commentaire..."></textarea>
              <div *ngIf="warningMessage" class="warning-message">{{ warningMessage }}</div>
              <button (click)="submitComment(avis)">Commenter</button>
            </div>

            <!-- Message de succès affiché après la publication -->
            <div *ngIf="avis.successMessage" class="success-message">
              {{ avis.successMessage }}
            </div>
          </div>



</div>

      </div>
    </div>
